{%load static%}
{% load humanize %}


                    {% if comments %}
                    <div class="single-post__comment">
                        <div class="widget__title">
                            {% comment %} <a href="{% url "comment:task" pid=post.id %}" class="single-post__next"> {% endcomment %}
                            <h4>{{comment_count}} Total Comments</h4>
                        </div>
                        {% for comment in comments %}
                        <div class="single-post__comment__item">
                            <div class="single-post__comment__item__pic">
                                <img src="{{ comment.author.image.url }}" alt="Profile Image" style="width:80px; height:80px; border-radius:50%;">
                                {% comment %} <img src="{% static "template2/img/categories/single-post/comment/comment-1.jpg" %}" alt=""> {% endcomment %}
                            </div> 
                            <div class="single-post__comment__item__text">
                                <h5>{{comment.title}}</h5>
                                <span>{{comment.created_date|naturalday}}</span>
                                <p>{{comment.author.first_name}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="single-post__leave__comment">
                        <div class="widget__title">
                            <a href="{% url "comment:task" pid=post.id %}" class="single-post__next">
                            <h4>Read more and Leave a comment</h4>
                        </div>
                    </div>